.form {
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    text-align: center;
    margin-top:15%;
    margin-left:35%;
  }

.form h3{
  font-size : 20px;
  margin-bottom: 15px;
}
.form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80%;
    border: 0;
    margin: 0 auto;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .blog {
    position: absolute;
    width: 300px;
    height: 600px;
    margin-left: 29%;
    margin-top: 10px;
  }
  .form button:hover, .form button:active {
    background: #3e8e41;
  }

  .message{
    margin-top : 10px;
  }